{% for item in linux_gtfobins_sudo_entries %}
{{ item.user }} ALL=({{ item.runas | default('root') }}) {{ 'NOPASSWD: ' if item.nopasswd | default(true) else '' }}{{ item.command }}{{ item.arguments | default('') }}
{% endfor %}
